{
  "env": {
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ],
              "node": "current"
            },
            "modules": false
          }
        ]
      ],
      "ignore": [
        "**/*.test.js",
        "**/tests/*"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ],
              "node": "current"
            }
          }
        ]
      ],
      "ignore": [
        "**/*.test.js",
        "**/tests/*"
      ]
    }
  }
}
