{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "strict": 0,
    "prettier/prettier": "warn",
    "no-unused-vars": [2, { "vars": "local" }]
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true
  }
}
